@model StaffForm.Core.Model.StaffModel               
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a10c7f6efa.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <title>Adding details</title>
    <style>
        .card {
            width: 100%;
            height: 100%;
            margin-left: 5%;
            margin-top: 10%;
            background-size: cover;
            
            border-color:black;   
        }

        form {
     
            background-color:transparent;
        }

        button {
            background:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(149,148,233,1) 100%);
            color:black;
        }

        .error {
            color: red;
        }

        #job {
            color: black;
        }
      option
      {
            background-color:rgba(238,174,202,1);
            color:black;
            font-style:oblique;
      }
        select{
            background:transparent;
            border-radius:20px;
            width:260px;
            height:35px;
            color:black;
            border-color: black;
            font-style:oblique;
            margin-left:8px;
        }
          label{
            font-size:100%;
        }
    </style>
</head>
@using (Html.BeginForm("Create", "Staff", FormMethod.Post, new { @id = "start" }))
{
    <section class=" bg-image"
         style="background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(149,148,233,1) 100%);width:100%;height:240%;background-size:cover;">
        <div class="mask  align-items-center gradient-custom-3">
            <div class="row justify-content-center align-items-center ">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5 ">
                            <h2 class="text-uppercase text-center mb-5" style="font-style:oblique;font-weight: 900;">EMPLOYEE DETAIL</h2>
                            <form>
                                @Html.HiddenFor(m=>m.ID,new{@id="StaffID"})     
                                <div id="clear">
                                 <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label" style="font-style: oblique;">NAME<span style="color:red;">*</span></label>
                                    
                                    <i class="fa-solid fa-user" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control",@placeholder="Enter your Name",@id="name",@name="name",Style="border-radius:20px;border-color:black;background-color:Transparen;font-style: oblique;margin-left:10px;"})
                                    </div>
                              
                              <div class="col-md-6 mt-1">
                                    <label for="inputPassword4" class="form-label" style="font-style: oblique;">AGE<span style="color:red">*</span></label>
                                    
                                        <i class="fa-solid fa-cake-candles"style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control",@placeholder="Enter your age",@id="age",@name="age",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;"})
                            
                             </div>
                                <div class="col-md-6 mt-1 ">
                                    <label for="inputEmail4" class="form-label" style="font-style: oblique;">GENDER<span style="color:red">*</span></label>
                                    <div class="form-check mt-2" id="radio">
                                        <label style="background-color:Transparent;font-style: oblique;"> @Html.RadioButtonFor(m => m.Gender,"Male")Male</label>
                                        <label style="background-color:Transparent;font-style: oblique;"> @Html.RadioButtonFor(m => m.Gender,"Female")Female</label>
                                        <label style="background-color:Transparent;font-style: oblique;"> @Html.RadioButtonFor(m => m.Gender,"Other")Other</label>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-1">
                                    <label for="inputPassword4" class="form-label" style="font-style: oblique;">QUALIFICATION<span style="color:red">*</span></label>
                                 
                                        <i class="fa-solid fa-graduation-cap" style="padding-top:8px;"></i>
                                    <div class="course">
                                        @Html.DropDownListFor(m=>m.Qualification, new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="BE"},
                                    new SelectListItem{ Text="B.Tech"},
                                    new SelectListItem{ Text="ME"},
                                    new SelectListItem{ Text="M.Tech"},
                                    new SelectListItem{ Text="MBA"},
                                    new SelectListItem{ Text="MCA"},
                                    }, "Select List")
                                        @*   //</select>*@
                                    </div>
                               
                                </div>
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label" style="font-style: oblique;">COMPANY NAME<span style="color:red">*</span></label>
                                   
                                        <i class="fa-solid fa-building-user" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control",@placeholder="Enter your company name",@id="company",@name="company",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;"})
                                     
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label" style="font-style: oblique;">DATE OF JOINING<span style="color:red">*</span></label>
                               
                                        <i class="fa-solid fa-calendar-days" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.Datestr, new {@class = "form-control",@type="date",@placeholder="yyyy/MM/dd",@id="date",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;"})
                               
                                </div>
                                <div class="col-md-12 mt-1">
                                    <label for="inputAddress" class="form-label" id="job" style="font-style: oblique;">JOB ROLE<span style="color:red">*</span></label>
                               
                                        <i class="fa-solid fa-laptop-code" style="padding-top:8px;"></i>
                                    <div class="role">
                                        @Html.DropDownListFor(m=>m.Role, new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="HR"},
                                    new SelectListItem{ Text="Developer"},
                                    new SelectListItem{ Text="Designer"},
                                    new SelectListItem{ Text="Testing"},
                                    new SelectListItem{ Text="Digital Marketing"},
                                    }, "Select Role")
                                        @*   //</select>*@
                            
                                </div>
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputAddress2" class="form-label" style="font-style: oblique;">EXPERIENCE<span style="color:red">*</span></label>
                                 
                                    <i class="fa-solid fa-clock-rotate-left" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.Experience, new { @class = "form-control",@placeholder="Enter your Experience",@id="experience",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;" })
                               
                                </div>
                                <div class="col-md-12 mt-1">
                                    <label for="inputAddress" class="form-label" id="job" style="font-style: oblique;">LOCATION<span style="color:red">*</span></label>

                                    <i class="fa-solid fa-laptop-code" style="padding-top:8px;"></i>
                                    <div class="role">
                                        @Html.DropDownListFor(m=>m.StaffLocationID, new SelectList(ViewBag.List, "StaffLocationID", "Location"), "-- Select Location --", new { @class = "form-control-sm rounded-pill", })
                                    </div>
                                </div>
                                 <div class="col-md-6 mt-1">
                                <label for="inputCity" class="form-label" style="font-style: oblique;">  USER ADDRESS<span style="color:red">*</span></label>
                                    
                                        <i class="fa-solid fa-house-user" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control",@placeholder="Enter your address",@id="address",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;"})
                             
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label" style="font-style: oblique;">MOBILE<span style="color:red">*</span>  </label>
                                  
                                        <i class="fa-solid fa-phone" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.MobileNo, new {@maxlength="10" ,@class = "form-control",@placeholder="Enter your mobile number",@id="phone",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;" })
                               
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label" style="font-style: oblique;">EMAIL ID<span style="color:red">*</span></label>
                                    
                                        <i class="fa-solid fa-envelope" style="padding-top:10px;"></i>
                                    @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control",@placeholder="Enter your Email",@id="email",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;" })
                              
                                </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label" style="font-style: oblique;">PASSWORD<span style="color:red">*</span></label>
                              
                                        <i class="fa-solid fa-key"></i>
                                    @Html.PasswordFor(m => m.Password, new {@maxlength="10", @class = "form-control",@placeholder="Enter your Password",@type="password",@id="passtype",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;"})
                                        <div class="icon btn"><span class="fas fa-eye-slash"  id="word" onclick="mypassword()"></span></div>
                               
                                </div>
                               </div>
                                <div class="col-md-6 mt-1">
                                    <label for="inputCity" class="form-label" style="font-style: oblique;">RE-PASSWORD<span style="color:red">*</span></label>
                                
                                        <i class="fa-solid fa-key" style="padding-top:10px;"></i>
                                    @Html.PasswordFor(m => m.RePassword, new { @maxlength="10",@class = "form-control",@placeholder="Enter your Password again",@type="password",@id="repassword",Style="border-radius:20px;border-color:black;background-color:Transparent;font-style: oblique;margin-left:10px;"})
                                    <div class="icon btn"><span class="fas fa-eye-slash"  id="repass" onclick="myrepassword()"></span></div>
                                
                                </div>
                                <div>
                                    <button id="button">Submit</button>
                                    <button id="btnclear"  type="button" onclick="newFunction()">Clear</button>
                                    <button onclick="location.href='@Url.Action("List","Staff")'" >Back To List</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
<script>
    $().ready(function () {
        $("#start").validate({
            rules: {
                Name: {
                    required: true,
                    lettersonly: true,
                },
                Age: {
                    required: true,
                    number: true,
                },
                Qualification: {
                    required: true,
                },
                CompanyName: {
                    required: true,
                },
                JoiningDate: {
                    required: true,
                },
                Role: {
                    required: true,
                },
                Experience: {
                    required: true,
                },
                StaffLocationID: {
                    required: true,
                },
                Address: {
                    required: true,
                },
                MobileNo: {
                    required: true,
                    number: true,
                    minlength: 10,
                },
                EmailID: {
                    required: true,
                    email: true,
                },
                Password: {
                    minlength: 5,
                    required: true,
                },
                RePassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#passtype" //for checking both passwords are same or not
                },
                Gender: {
                    required: true,
                },
            },
            // in 'messages' user have to specify message as per rules
            messages:
            {
                Name: {
                    required: " Please enter a Name",
                },
                Age: {
                    required: " Please enter your age",
                },
                Qualification: {
                    required: "Select your qualification",
                },
                Role: {
                    required: "Select your Role",
                },
                Experience: {
                    required: "Enter your year of experience",
                },
                StaffLocationID: {
                    required: "Enter your location",
                },
                MobileNo: {
                    required: "Enter your mobile number",
                    minlenght: "Mobile number must contain 10 characters"
                },
                Address: {
                    required: "Enter your location",
                },
                EmailID: {
                    required: "Enter your email ID",
                },
                Password: {
                    required: "Enter your password",
                    minlength: " Your password must be consist of at least 10 characters",
                },
                RePassword: {
                    required: " Please enter a password",
                    minlength: " Your password must be consist of at least 10 characters",
                    equalTo: " Please enter the same password as above"
                },
                Gender: {
                    required: "Select your gender",
                },
                JoiningDate: {
                    required: "Please enter your joining date",
                },
                CompanyName: {
                    required: "Enter your company name",
                },
            },
            errorPlacement: function (error, element) {

                if (element.is(":radio")) {
                    error.insertAfter(element.parents('#radio'));
                }
                else {
                    error.insertAfter(element);
                }
            },
        });
    });
    function mypassword() {
        var Password = document.getElementById('passtype');
        var Status = document.getElementById('word');

        if (Password.type == 'password') {
            Password.type = 'text';
            Status.className = 'fa fa-eye';

        }
        else {
            Password.type = 'password';
            Status.className = 'fa fa-eye-slash';
        }
    }
    function myrepassword() {
        var passwordInput = document.getElementById('repassword');
        var passStatus = document.getElementById('repass');

        if (passwordInput.type == 'password') {
            passwordInput.type = 'text';
            passStatus.className = 'fa fa-eye';

        }
        else {
            passwordInput.type = 'password';
            passStatus.className = 'fa fa-eye-slash';
        }
    }
    var id = $("#StaffID").val();
    if (id!=0) {
        $('#button').html("Update");//To change the text of button

    }
    //function Cleardetail(){
    //    $("#Clear").find("input").val("");
    //}
    function newFunction() {
        $("#clear").closest('form').find("input", "select").val("");
    }
</script>











    
